apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}-alice
  namespace: lightning-kube
  labels:
    draft: {{ default "draft-app" .Values.draft }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}"
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        draft: {{ default "draft-app" .Values.draft }}
        app: {{ template "fullname" . }}-alice
{{- if .Values.podAnnotations }}
      annotations:
{{ toYaml .Values.podAnnotations | indent 8 }}
{{- end }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}

        env:
          - name: DEPLOYMENT_NAME
            value: "alice"

        ports:
        - containerPort: {{ .Values.service.internalPort }}
#        livenessProbe:
#          httpGet:
#            path: {{ .Values.probePath }}
#            port: {{ .Values.service.internalPort }}
#          initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
#          periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
#          successThreshold: {{ .Values.livenessProbe.successThreshold }}
#          timeoutSeconds: {{ .Values.livenessProbe.timeoutSeconds }}
#        readinessProbe:
#          httpGet:
#            path: {{ .Values.probePath }}
#            port: {{ .Values.service.internalPort }}
#          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
#          successThreshold: {{ .Values.readinessProbe.successThreshold }}
#          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
        resources:
{{ toYaml .Values.resources | indent 12 }}

        volumeMounts:
        - mountPath: /mnt/lk/shared/rpc
          name: lightning-kube-drive
          subPath: lk/shared/rpc
        - mountPath: /mnt/lk/lnd/alice/data
          name: lightning-kube-drive
          subPath: lk/lnd/alice/data
        - mountPath: /mnt/lk/lnd/alice/log
          name: lightning-kube-drive
          subPath: lk/lnd/alice/log
      volumes:
          - name: lightning-kube-drive
            persistentVolumeClaim:
              claimName: lightning-kube-pvc


      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
